<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RetrieverCore.App</title>
    <link href="./lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="./lib/bootstrap5/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #b3b3b3">
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    <partial name="_Navbar" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
